{
	"env": {
	  "browser": true,
	  "es2021": true,
	  "node": true
	},
	"extends": [
	  "eslint:recommended",
	  "airbnb",
	  "airbnb/hooks",
	  "plugin:prettier/recommended" 
	],
	"parserOptions": {
	  "ecmaFeatures": {
		 "jsx": true
	  },
	  "ecmaVersion": "latest",
	  "sourceType": "module"
	},
	"plugins": [
		"react", 
		"jsx-a11y",
		 "import", 
		 "react-hooks",
		  "prettier" 
	],
	"rules": {
	  "react/react-in-jsx-scope": "off",
	  "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
	  "react/destructuring-assignment": "off",
	  "no-nested-ternary": "off",
	  "no-param-reassign": "off",
	  "react/state-in-constructor": 0,
	  "jsx-a11y/label-has-associated-control": 0,
	  "react/prop-types": 0,
	  "indent": ["error", 2],
	  "linebreak-style": [0, "unix"],
	  "quotes": ["error", "single"],
	  "import/no-unresolved": [2, { "caseSensitive": false }],
	  "import/order": [
		 "error",
		 {
			"groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
			"newlines-between": "always",
			"alphabetize": { "order": "asc" }
		 }
	  ],
	  "react/prefer-stateless-function": "off",
	  "react/button-has-type": "off",
	  "no-plusplus": "off",
	  "jsx-a11y/control-has-associated-label": "off",
	  "prettier/prettier": "error"
	}
 }
 